<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >
    <div style="max-width: 50%;margin: auto; padding-top: 5%;">
            <form action="/save" method="POST">
                <div class="card">
                    <h5 class="card-header info-color white-text text-center py-4" style="background-color:#272624 ;font-size: 20px; border:1px solid rgb(30, 39, 15);">
                        <p style="color: white; height: 10px;">Pretplati se</p>
                    </h5>
                <div class="card-body px-lg-5 pt-0">
            <form>
                <div class="form-group"class="md-form"style=" font-size: 20px;"><p>Ime:</p>
                    <p><input  class="border " style="font-size: 15px;" class="form-control" type="text" name="name" /></p>
                    <label for="materialLoginFormEmail">Email adresa:</label>
                    <br>
                    <input  class="border" class="form-control" style="font-size: 15px;" type="email" attern=".{5,}" required title="5 characters minimum" minlength="5" required class="form-control" name="email" aria-describedby="emailHelp"/>
                </div>
                <div class="form-group" style="font-size: 15px;">
                    <br>
                    <p><input style="font-size: 15px;" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"   type="submit" value="submit"/></p>
            </form>
                </div>
                </div>
            </form>
        </div>
    
</body>
    

</html>